.d-item{
    display: flex;
    text-align: center;
    color: var(--surface-0);
    justify-content: space-between;

    .pi{
        font-size: 4em;
        margin-bottom: 15px;
    }

    .name{
        font-size: 1.4em;
    }

    .number{
        margin-top: 50px;
        font-size: 2.5em;
    }
}

.d-orders{
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

}
.d-users{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);


}
.d-products{
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);


}
.d-totalSale{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    
    .number{
        font-size: 2em;
    }
}